@import "assets/scss/mixins/breakpoint";

.Button {
    &--text {
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
    }

    &--smallBase, 
    &--smallMain  {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: var(--small-block-width);
        height: var(--small-block-width);
        padding: 0;
        border-radius: var(--radius-base);
    }

    &--smallBase {
        background-color: var(--base-color-50);
        svg {
            fill: var(--base-color-500);
        } 
    }
 
    &--smallMain {
        background-color: var(--main-color-400);

        svg {
            fill: var(--base-color-0);
        } 
    }

    &--baseMain,
    &--fullMain {
        background-color: var(--main-color-400);
        border-radius: var(--radius-small);
        padding: 15px 30px;
        
        font-weight: 700;
        font-size: var(--fz-base); 
        color: var(--base-color-0);
        text-align: center;

    }

    &--fullMain {
        width: 100%;
    }

}

@include tablet {
    .Button {
        &--smallBase, 
        &--smallMain  {
            border-radius: calc(var(--radius-small) - 4px);

        }
    }
}

@include small-tablet {
    .Button {
        &--smallBase, 
        &--smallMain  {
            border-radius: calc(var(--radius-small) - 4px);

        }
    }
}