@import "assets/scss/mixins/breakpoint";

.Header {
    width: 100%;
    height: var(--header-vh);
    
    &__logo {
        svg {
            height: var(--small-block-width);
    
        }
    }

    &__left {
        flex: 3;
        gap: 15px 65px; 
    } 
    &__right {
        flex: 2;
        justify-content: space-between;
    }
    &__themeChange {
        span {
            height: 100%;
            color: var(--base-color-300);
            margin-left: 15px;
        }
    }
    &__icons {
        gap: 20px;
    }
}

.user {
    gap: 15px;

    &__name {
        font-weight: 700;
        color: var(--base-color-500);
    }

    &__img {
        width: 55px;
        height: 55px;
        border-radius: 50%;
    }
}


@include tablet {
    .Header {
        &__right {
            flex: 1;
            justify-content: flex-end;
            gap: 20px;
        }
        &__themeChange {
            span {
                display: none;
            }
        }
    }
    
    .user {
        &__name {
            display: none;
        }
    }

}

@include small-tablet {
    .Header {
        &__left {
            flex: 1;
            span {
                display: none;
            }
        }
    }

    .user {
        &__img {
            width: 32px;
            height: 32px;
        }
    }
}