.Input {
    width: 100%;
    background-color: var(--base-color-50);
    border-color: transparent;
    padding: 20px 24px;
    border-radius: var(--radius-small);

    font-family: inherit;
    font-size: var(--fz-small);
}