@import "assets/scss/mixins/breakpoint";

.HomePage {
    padding: 55px 65px;
    
    &__header {
        justify-content: space-between;
        margin-bottom: 40px;
    }
    &__left {
        font-weight: 700;
        font-size: var(--fz-largest);
        color: var(--base-color-500);
        line-height: 1.3;

        span {
            color: var(--main-color-400);
        } 
    }
    &__right {
        font-weight: 700;
        font-size: var(--fz-large);
        color: var(--main-color-400);
    }
    &__button {
        margin-left: 20px;
    }
}

@include tablet {
    .HomePage {
        padding: 40px;
    }
}

@include small-tablet {
    .HomePage {
        padding: 25px 15px;

        &__header {
            margin-bottom: 25px;
        }
        &__button {
            margin-left: 12px;
        }
    }
}